<div class="container">
    <mat-card>
  <form [formGroup] ="passwordForm">

      <input matInput placeholder="Username or email"  class="form-control" formControlName="username" required><br>
      <mat-error *ngIf="passwordForm.get('username').touched">
          <div *ngIf="passwordForm.controls['username'].hasError('required')" class="alert alert-danger">
          User name is required
          </div>
      </mat-error>
    
      <input matInput type="password" placeholder="Old Password"  class="form-control" formControlName="password1" required><br>
        <mat-error *ngIf="passwordForm.get('password1').touched">
            <div *ngIf="passwordForm.controls['password1'].hasError('required')" class="alert alert-danger">
            Old Password is required
            </div>
        </mat-error>
            
        <input matInput type="password" placeholder="New Password" class="form-control" formControlName="password2" required><br>
        <mat-error *ngIf="passwordForm.get('password2').touched">
            <div *ngIf="passwordForm.controls['password2'].hasError('required')" class="alert alert-danger">
            New Password is required
            </div>
        </mat-error>
          <button id="confirm" mat-button (click)="Change()"> Confirm </button>
        
  </form>
</mat-card>
</div>