<div class="container">
<img src="/assets/about.jpg">
<!-- <div class="aboutuswrapper section"><div class="inner-secn pt-40"> -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><span>Overview</span></h2>
                <div class="contentarticle">
                    <p>Vibgyor Paints India Limited is the third largest paint manufacturing company in the country. They manufacture paint for both interior and exterior use. They have earned a reputation for innovation with new products such as exterior paints designed to reflect heat, anti-bacterial, water resistant paint etc. Vibgyor Paints has a consistent track record of being one of the fastest growing paint companies, quarter-on-quarter, for the past three years.
                        From an annual sales turnover of Rs 25 Lakhs, 3 years ago, their business revenues are in excess of Rs 2000 crores today. 
                    </p>
                </div>
            </div>
</div>
                <h2><span>History</span></h2>
                <div class="row">
                    <div class="col-sm-3 center">           
                        <img src="/assets/painting-clipart.png">
                    </div>
                    <div class="col-sm-9">
                        <h3>All great things start small</h3>
                        <div class="contentarticle">
                            <p> </p>

<p> Driven by its strong consumer-focus and innovative spirit, the company has been the market leader in paints since 2015. Today, it is double the size of any other paint company in India. Vibgyor Paints manufactures a wide range of paints for decorative and industrial use.</p>
                        </div>
                    </div>
                </div>
                <h2><span>Vision</span></h2>
                <div class="row">
                    <div class="col-sm-3 col-sm-push-9 center mob-mrgn">
                                    <img src="/assets/vision-icon.png" class="lazy">  
                    </div>
                    <div class="col-sm-9 col-sm-pull-3">
                        <h3>clear goals for a clear future</h3>
                        <div class="contentarticle">
                            <p>“To be the fore runner of inspiring décor and to actively empower customers to create their dream homes”</p>
<p> </p>
                        </div>
                    </div>
                </div>
          
            </div>

