<div class="container">

    <button (click)="addStore()">Add Store</button>
     <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
              
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="flatNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FlatNo </th>
            <td mat-cell *matCellDef="let row"> {{row.flatNo}}</td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="street">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Street </th>
            <td mat-cell *matCellDef="let row"> {{row.street}} </td>
          </ng-container>
      
          <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
              <td mat-cell *matCellDef="let row"> {{row.state}} </td>
            </ng-container>
  
            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
                <td mat-cell *matCellDef="let row">{{row.city}}  </td>
              </ng-container>

              <ng-container matColumnDef="pin">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Pin </th>
                  <td mat-cell *matCellDef="let row">{{row.pin}}  </td>
                </ng-container>

  
              <ng-container matColumnDef="Edit">
                  <th mat-header-cell *matHeaderCellDef > Edit </th>
                  <td mat-cell *matCellDef="let row"><a (click)="openEditPage(row)"><i class="fa fa-edit" style="font-size:18px;color:blue"></i> </a></td>
                </ng-container>
                &nbsp;
                <ng-container matColumnDef="Delete">
                   &nbsp; <th mat-header-cell *matHeaderCellDef > Delete </th>
                   &nbsp;<td mat-cell *matCellDef="let row"> <a (click)="deleteStore(row)"><i class="fa fa-trash" style="font-size:18px;color:red"></i></a> </td>
                  </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  </div>
  
  